# 相依套件（本機 npm install 產生，不進版控）
node_modules

# build 產物
dist
dist-ssr

# 本機環境覆寫檔（如果之後有人加 .env.local 放自己的機密設定）
*.local

# 編輯器/系統
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
